<nz-layout nzTheme="light" style="height: 100%">
  <nz-header style="padding: 0">
    <div class="logo" nzTheme="light"></div>
    <ul nz-menu nzTheme="light" nzMode="horizontal" class="header-menu" >
      <li nz-menu-item nzSelected style="padding-left: 30px">nav 1</li>
      <li nz-menu-item>nav 2</li>
      <li nz-menu-item>nav 3</li>
    </ul>
  </nz-header>
  <nz-layout>
    <nz-sider nzWidth="200px" nzTheme="light" nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0">
      <ul nz-menu nzMode="inline" class="sider-menu">
        <li nz-menu-item nzSelected>
          <a routerLink="./overview"><span>数据总览</span></a>
        </li>
        <li nz-menu-item>
          <i nz-icon nzType="user"></i>
          <a routerLink="./week-view"><span>周视图</span></a>
        </li>
        <li nz-menu-item>
          <i nz-icon nzType="user"></i>
          <span>nav 3</span>
        </li>
      </ul>
    </nz-sider>
    <nz-layout class="inner-layout">
      <nz-breadcrumb>

      </nz-breadcrumb>
      <nz-content>
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
