<!--<app-relation-graph></app-relation-graph>-->

<div nz-row style="height: 100%">
  <div nz-col nzSpan="24">

<!--    <router-outlet></router-outlet>-->
    <app-classic></app-classic>

    <div nz-row>
      <div nz-col nzSpan="1" nzOffset="6">小时</div>
      <div nz-col nzSpan="10">
        <nz-slider [(ngModel)]="hour" [nzMin]="0" [nzMax]="23" [nzStep]="1"></nz-slider>
      </div>
      <div nz-col nzSpan="1">{{hour}}</div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="1" nzOffset="6">周内日</div>
      <div nz-col nzSpan="10">
        <nz-slider [(ngModel)]="day" [nzMin]="1" [nzMax]="7" [nzStep]="1"></nz-slider>
      </div>
      <div nz-col nzSpan="1">{{day}}</div>
    </div>
  </div>
</div>
